<html>
  <head>
    <style>
      body {
        background: <%= background.to_sym %>;
      }
    </style>
  </head>
  <body>
    <p>
      <%= message %>
      <% if message == "You got it right!" || cheat_mode %>
        "The SECRET NUMBER is <%= number %>"
      <% end %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
